body {
  font-family: Sans-Serif, Arial;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 2.1;
}
header {
  margin: 0;
  padding: 1rem 0;
  color: white;
  background: #333;
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  text-decoration: overline;
  text-decoration-color: #52f3ff;
  color: white;
  text-shadow: 3px 3px 0px #777;
}
section {
  text-align: center;
  padding: 1.5rem;
}
.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 1rem;
}
.project {
  border: 1px solid #333;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 300px;
}
footer {
  background: #333;
  color: white;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}